.img{
    height: 140px;
    width: 400px;
}
.imag{
    height: 90px;
    width: 100px;
}
.form-search{
    padding-top: 40px;
    width: 500px;
}
hr{
    margin-right: 80px;
    margin-left: 80px;
}
